<a href="https://colab.research.google.com/github/natenyahoo/IST210Stuff/blob/master/IST210_GA3_Group10_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#IST 210 - Group Assignment 3 - Group 10

Here is our ER Diagram from GA 2: ![ER Diagram in 1st NF](https://raw.githubusercontent.com/natenyahoo/IST210Stuff/master/Assignments/IST%20210%20-%20GA%202-2.png)

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql sqlite:///IncidentDatabase.db

'Connected: @IncidentDatabase.db'

In [ ]:
%%sql
DROP TABLE IF EXISTS Users;
create table Users (UserID text PRIMARY KEY, email text, firstName text, lastName text);

DROP table IF EXISTS ViewBreach;
create table ViewBreach (UserID text NOT NULL, IncidentID text NOT NULL, PRIMARY KEY (UserID, IncidentID));

DROP table IF EXISTS Breaches;
create table Breaches (IncidentID text PRIMARY KEY, result text, date text, attackType text)

 * sqlite:///IncidentDatabase.db
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
## dates are in dd-mm-yyyy format

%%sql
insert into Users values ('100', 'johndoe@mail.com', "John", 'Doe');
insert into Users values ('101', 'sarahdoe@mail.com', "Sarah", 'Doe');
insert into Users values ('102', 'davidhunter@fake.com', "David", 'Hunter');
insert into Users values ('103', 'ethanmury@what.net', "Ethan", 'Mury');
insert into Users values ('104', 'candylover@hershey.org', "Kendall", 'Smith');
insert into Users values ('105', 'jamesAtWar@sierra.com', "James", 'Grant');
insert into Users values ('106', 'mydog@arf.com', "Brenna", 'Jenkins');

insert into Breaches values ("00", "Repelled", "20-02-2002", "Ransomware");
insert into Breaches values ("01", "Breached", "20-06-2002", "Insider_Threat");
insert into Breaches values ("02", "Repelled", "14-09-2002", "Trojan_Horse");
insert into Breaches values ("03", "Repelled", "04-12-2002", "Electromagnetic_Pulse");
insert into Breaches values ("04", "Repelled", "25-12-2002", "SQL_Injection");
insert into Breaches values ("05", "Breached", "04-03-2003", "SQL_Injection");
insert into Breaches values ("06", "Breached", "04-12-2003", "SQL_Injection");
insert into Breaches values ("07", "Repelled", "04-28-2003", "Ransomware");

insert into ViewBreach values ("100", "03");
insert into ViewBreach values ("101", "03");
insert into ViewBreach values ("102", "03");
insert into ViewBreach values ("103", "03");
insert into ViewBreach values ("104", "03");
insert into ViewBreach values ("105", "03");
insert into ViewBreach values ("106", "03");
insert into ViewBreach values ("100", "04");
insert into ViewBreach values ("100", "00");
insert into ViewBreach values ("101", "02");

 * sqlite:///IncidentDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

#Questions:

1) What is the most viewed data breach?

2) Who is viewing the most data breaches?

3) How many of each type of breach are there?

#SQL Queries:

In [ ]:
## Query #1
%%sql
SELECT incidentID, count(IncidentID) AS views FROM ViewBreach GROUP BY IncidentID ORDER BY count(IncidentID) DESC

 * sqlite:///IncidentDatabase.db
Done.

[('03', 7), ('00', 1), ('02', 1), ('04', 1)]

In [ ]:
## Query #2
%%sql
SELECT u.firstName, u.lastName, v.UserID, count(v.IncidentID) AS BreachesViewed FROM Users AS u LEFT OUTER JOIN ViewBreach AS v ON u.UserID = v.UserID 
GROUP BY v.UserID ORDER BY BreachesViewed DESC

 * sqlite:///IncidentDatabase.db
Done.

[('John', 'Doe', '100', 3),
 ('Sarah', 'Doe', '101', 2),
 ('David', 'Hunter', '102', 1),
 ('Ethan', 'Mury', '103', 1),
 ('Kendall', 'Smith', '104', 1),
 ('James', 'Grant', '105', 1),
 ('Brenna', 'Jenkins', '106', 1)]

In [ ]:
## Query #3
%%sql
SELECT attackType, count(attackType) AS totalThreats FROM Breaches GROUP BY attackType ORDER BY count(attackType) DESC

 * sqlite:///IncidentDatabase.db
Done.

[('SQL_Injection', 3),
 ('Ransomware', 2),
 ('Electromagnetic_Pulse', 1),
 ('Insider_Threat', 1),
 ('Trojan_Horse', 1)]

#Why are these queries useful?

Query #1: This query is useful because it tells us where most of the site traffic is directed. Additionally, an important facet of the site management is to make sure the breaches have up-to-date information; however, this is especially important with the breaches that attract the most attention. Identifying the most viewed breaches tells us where to ensure we have accurate information. The results of the query matched up with our expectations: an electromagnetic pulse would be the most fascinating security breach to read about!

Query #2: This query is important because it tells us who the most active users of the website. It would be ideal to send surverys and questionnaires to these users, since they are more active users of the site, and more likely to respond. Knowing who views breaches the most is also helpful because we could send those people recuitment emails if more developers were needed (this is a long shot, but you never know). The results of this query were interesting, because John and Sarah Doe are the top 2 viewers of breaches. Are they married? Perhaps there is more to be discovered here.

Query #3: This query is incredibly important because it gives us a snapshot of the most common techniques attackers have used to try and breach networks and databases. However, it is good to bear in mind that our site may not be an accurate source for finding the most common breach techniques. Depending on how much data is put in our database, this query may not give us a representative sample. Additionally, while defending against techniques that were common is very good, defending against the strategies currently being used a lot is arguably more important. The results of this query were unexpected, because it seems to say that SQL Injections threats are more common than Ransomware, which seems to contradict common knowledge.

#Master Plan

Alright guys, here's what we need to do:

*   Nothing! We're all done :)